
*{
	font-family: arial;
}

body{
	background: gainsboro;
}

h1{
	position: static;
	color: white;
	text-align: center;
	background:darkgray;
}

input{
	color: lightgray;
	font-size: 20px;
	text-align: center;
	height: 60px;
	width: 600px;
	border: inset;
	margin-left: 650px;
	margin-top: 100px;

}

div+input{
	font-size: 30px;
	width: 650px;
	color: white;
	background-color: springgreen;
	margin-left: 635px;
}

#Registrar{
	margin-left: 915px;
}

#Recuperacao {
	text-align: center;
}