*{
	font-family: arial;
}

body{
	background: gainsboro;
}

h1{
	position: static;
	color: white;
	text-align: center;
	background:darkgray;
}

p{
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
}

input{
	color: lightgray;
	font-size: 20px;
	text-align: center;
	height: 60px;
	width: 600px;
	border: inset;
	margin-left: 650px;
	margin-top: 100px;

}

div input{
	background-color: blueviolet;
}